/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.primary {
	max-width: 70%;
	float: left;
}
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

// .type-post {
// 	max-width: 70%;
// }

.entry-header {
	position: relative;
	
}


.blog .entry-title a {
	position: absolute;
	top: 50px;
	background-color: #248A83;
	text-decoration: none;
	color: white;
	font-size: 2.1rem;
	font-weight: bold;
	padding: .75rem 1.5rem;
	max-width: 70%;
	font-family: 'Novecento-bold';	
	letter-spacing: 2px;
}



.entry-meta {
	bottom: 3px;
	right: 0px;
	position: absolute;
	background-color: #248A83;
	color: white;
	font-family: 'Novecento-normal';
	padding: .6rem 1.2rem;
}

.journal {
	display: grid;
	grid-template-columns: 65% 25%;
	padding-top: 50px;
}

.journal-left {
	grid-column: 1/2;
	width: 90%;
	justify-self: right;
	padding-right: 60px;
}

.sidebar-right { 
	grid-column: 2/3;
	border-left: $border__solid;
	padding-left: 50px;
	line-height: 50px;
	font-family: 'Merriweather-normal'
}

.entry-content {
	font-family: 'Merriweather-normal';
	line-height: 1.75rem;
}