/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.type-post {
	max-width: 70%;
}

.entry-header {
	position: relative;
	
}


.blog .entry-title a {
	position: absolute;
	top: 50px;
	background-color: #248A83;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}



.entry-meta {
	bottom: 7px;
	right: 0px;
	position: absolute;
	background-color: #248A83;
	color: white;
	padding: 2px 5px;
}

