/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
body {
    font-size: 16px;
    color: #404040;
    
}

    .site-info {
        background-image: url("../../images/dark-wood.png");
        // background-size: cover;
    //    background-color: black; 
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 15% 50% 35%;
    grid-template-columns: 10% 15% 5% 20% 25% 15% 10%;
    font-family: 'Merriweather-normal';
    height: 350px;
       
    }

    .contact-info {
        grid-row: 2/3;
        grid-column: 2/3;
        line-height: 40px;
        
    }

    .contact-info > h6 {
        font-family: 'Novecento-bold';
        font-weight: bold;
        font-size: 1.1em;
        letter-spacing: 2px;
        color: $color__orange;

    }

    .business-hours {
        grid-row: 2/3;
        grid-column: 4/5;
        line-height: 40px;
        
    }
    
    .business-hours > h6 {
        font-family: 'Novecento-bold';
        font-weight: bold;
        font-size: 1.1em;
        letter-spacing: 2px;
        color: $color__orange;
    }
    .logo-footer {
        grid-row: 2/3;
        grid-column: 5/7;
        justify-self: right;
        max-width: 60%;
    }

    .copyright {
        font-family: 'Novecento-normal';
        grid-row: 3/4;
        grid-column: 1/8;
        justify-self: center;
        align-self: center;
    }
