/*--------------------------------------------------------------
# Embedded Fonts
// --------------------------------------------------------------*/
//SHOP HEADER

.shop-header {
    text-align: center;
    h1 {
        font-family: 'Novecento-bold';
        letter-spacing: 2px;
    }
    
}

.product-header {
    display: flex;
    font-family: 'Novecento-normal';
    font-size: 1.2rem;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: $border__dashed;
    a {
        text-decoration: none;
        margin: 0 1.5rem;
    }
}



//SHOP

.products-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    margin-bottom: 70px;

}

.product-square {
    grid-column: 1fr;
    border: $border__solid;
    height: 280px;

}


.product-image {



}

.product-image > a > img {
    
    height: 220px;
    object-fit: cover;

}

.product-meta {
    display: flex;
    justify-content: space-between;
    font-family: 'Merriweather-normal';
    align-items: center;
    margin-top: 2px;
    
}

