/*--------------------------------------------------------------
# Embedded Fonts
// --------------------------------------------------------------*/
.widget-area > .widget > h2 {
    font-weight: bold;
    font-family: "Novecento-bold";
    letter-spacing: 2px;
    
}

.widget-area {
 

    
    .widget {
        h2 {
            font-size: 1.5rem;
        }
    }
}

.textwidget > aside > span > strong {
    font-weight: bold;
}
